body {
  font-family: Arial, sans-serif;
  background-color: #be9898;
}

.pagina {
  background-color: #f000cc;
}

.titulo-principal {
  background-color: #bd19a4;
}

.bloco-texto {
  color: #ffffff;
}

.conteudo {
  color: #ff5733;
}

.texto-destaque {
  color: #200580;
}

.bloco-texto h2 {
  color: #000000;
}
